body {
  background: white;

  span {
    font-size: 50px;
  }
}
img {
  margin: auto;
}

.ui.dividing.header {
  padding-top: 10px;
  padding-left: 10px;
}

.header-segment.ui.segment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0px;
  border: none;

  .buttons {
    margin-right: 10px;
  }

  .single-button {
    margin-right: 10px;
  }
}

.header-segment__sorting-by span {
  font-size: 1em;
}
