body {
  background: white;

  span {
    font-size: 50px;
  }
}
img {
  margin: auto;
}

.ui.dividing.header {
  padding-top: 10px;
  padding-left: 10px;
}

.header-segment.ui.segment {
  border-radius: 0px;
  border: none;
}